nav li {
    list-style: none;
}
 
nav a{
    text-decoration: none;
    color: green;
    transition: 0.5s ease;  
}
 
nav a:hover{
    color: white;
    transition: 0.5s ease;
    ;
}
 
nav ul {
    display: flex;
    justify-content: space-around;
    background-color: black;
    font-size: 2em;
}
 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background: black;
    font-family: 'Barlow Semi Condensed', sans-serif;
    line-height: 1.7;
    font-size: 13px;
  }
 
  p{
      color: white;
  }
  h4{
      color:white;
  }
  
  .chead {
    max-width: 1440px;
    margin:  auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  
  }
  
  .About{
    display: grid;
    background: gray;
    border-radius: 10px;
    padding: 50px;
    margin-bottom: 10px;
  }
  .card {
    display: grid;
    background: grey;
    border-radius: 10px;
    padding: 50px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 4-8px 100px 0px;
    margin-bottom: 10px;
  }
  .chead{
    display: grid;
    background: grey;
    border-radius: 10px;
    padding: 50px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    margin-bottom: 10px;
  }
 
  .pcard {
    display: grid;
    background: gray;
    border-radius: 10px;
    padding: 50px;
    margin-bottom: 10px;
  }
  .Stan{
    display: grid;
    background: gray;
    border-radius: 10px;
    padding: 50px;
    margin-bottom: 10px;
  }
 
  
  .cheader h3 {
    font-size: 15px;
  
  }
  .name{
    background-color: silver;
    color: #fff;
  }
  .title{
    color: #fff;
  }
 
  .cheader p {
    opacity: 50%;
  }
  
  .cimg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid silver;
    margin-right: 10px;
  }
  .Recent{
    display: grid;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 5;
    margin-bottom: 20px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    color: #fff;
  }
  .About {
    display: grid;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 20px;
  }
  .About1 {
    display: grid;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 20px;
  }
  .highlight{
    text-decoration: underline ;
    position: relative;
    font-size: 60px;
  }
  
  .quote {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.4;
    opacity: 70%;
  }
  
  
  
  
  
  .card {
    background: hsl(219, 29%, 14%);
    color: #fff;
  }
  
  .card:nth-of-type(1) {
    grid-column: 1 / 3;
  }
  
  .card:nth-of-type(4) {
    grid-column: 2 / 4;
    grid-row: 2;
  }
  
  .card:nth-of-type(5) {
    grid-column: 4;
    grid-row: 1 / 3;
  }
  
  .footer {
    position:absolute;
    bottom:auto;
    width: auto;
 }
  
  @media (max-width: 768px) {
    
    .cheader {
      grid-template-columns: 1fr;
      width: 100%;
    }
  
    .card:nth-of-type(1) {
      grid-column: 1;
    }
  
    .card:nth-of-type(4) {
      grid-column: 1;
      grid-row: 4;
    }
  
    .card:nth-of-type(5) {
      grid-column: 1;
      grid-row: 5;
    }
}
 
form{
  display: grid;
  box-sizing: border-box;
  height: 50%;
  color: aqua;
}

