* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
 
nav li {
  list-style: none;
}
 
nav a{
  text-decoration: none;
  
  transition: 0.5s ease;  
}
 
nav a:hover{
  color: white;
  transition: 0.5s ease;
}
 
nav ul {
  display: flex;
  justify-content: space-around;
  background-color: black;
  font-size: 2em;
}
 
body {
  background: black;
  font-family: 'Barlow Semi Condensed', sans-serif;
  line-height: 1.7;
  font-size: 13px;
}
 
p{
  display: grid;
    color: white;
}
h4{
  display: grid;
    color:white;
}
 
.main {
  display: grid;
  max-width: 1440px;
  margin: 100px auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
 
.card {
  display: grid;
  background: #fff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  margin-bottom: 10px;
}
 
.cheader {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
 
.cheader h3 {
  font-size: 15px;
}
 
.cimg {
  
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid silver;
  margin-right: 10px;
}
 
.About {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 20px;
}
 
.quote {
  display: grid;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.4;
  opacity: 70%;
}
 
.main {
  display: grid;
  background: silver;
  color: black;
  background-image: url('./images/bg-pattern-quotation.svg');
  background-repeat: no-repeat;
  background-position: top 10px right 100px;
}



.card {
  background: hsl(219, 29%, 14%);
  color: #fff;
}
 
.card:nth-of-type(1) {
  grid-column: 1 / 3;
}
 
.card:nth-of-type(4) {
  grid-column: 2 / 4;
  grid-row: 2;
}
 
.card:nth-of-type(5) {
  grid-column: 4;
  grid-row: 1 / 3;
}
 
.footer {
  position:absolute;
  bottom:auto;
  width: auto;
}
 
@media (max-width: 768px) {
  .RHead {
    grid-template-columns: 1fr;
    width: 100%;
  }
 
  .card:nth-of-type(1) {
    grid-column: 1;
  }
 
  .card:nth-of-type(4) {
    grid-column: 1;
    grid-row: 4;
  }
 
  .card:nth-of-type(5) {
    grid-column: 1;
    grid-row: 5;
  }
}
