*{
  margin: 0;
  padding: 0;
 }
 
nav li {
    list-style: none;
}
 
nav a{
    text-decoration: none;
    color: green;
    transition: 0.5s ease;  
}
 
nav a:hover{
    color: white;
    transition: 0.5s ease;
    background: silver ;
}
 
nav ul {
    display: flex;
    justify-content: space-around;
    background-color: black;
    font-size: 2em;
}
 
body{
  background-color: black;
}
 
img{
    width: 0;
    height: auto;
    float: left;
    padding: 10px 0;
  }
  
  .container{
    width: 90%;
    margin: 0 auto;
  }
  
  header{
    background-image: 
    url(Matrix.gif);
    
  }
  
  header::after{
  content: '';
  display: table;
  clear: both;
  }
  
  nav li {
    list-style: none;
}
 
nav a{
    text-decoration: none;
    color: green;
    transition: 0.5s ease;  
}
 
nav a:hover{
    color: white;
    transition: 0.5s ease;
    ;
}
 
nav ul {
    display: flex;
    justify-content: space-around;
    background-color: black;
    font-size: 2em;
}
  
.words h3{
  color: white;
}
  
 .foot{
   color: white;
 } 
  
  
  a.on,a:hover{
   
    transition: 4s;
  }
  .checkbtn {
    font-size: 20px;
    color: white;
  }
 
  
 
  
  img {
      width: 10em;
      height: 10em;
      background-color: rgb(133, 126, 127)
      border-radius: 100%;
      animation: move 10.5s infinite ease-in;
  }
  
  @keyframes move {
      50% {
          transform: translate(0, 0);
          width: 15em;
          height: 2em;
          box-shadow: 10px 80px 40px 20px green
      }
  
      25% {
          transform: translate(15vw, 15vh);
          background-color: green;
          width: 12em;
          height: 10em;
  
      }
  
      50% {
          transform: translate(15vw, 15vh);
          background-color:silver;
          width: 0em;
          height: 20em;
          box-shadow: 120px 80px 40px 20px gray;
      }
  
    
  }
  @media (max-width: 768px) {
    
    .container {
      grid-template-columns: 1fr;
      width: 100%;
    }
  
    .card:nth-of-type(1) {
      grid-column: 1;
    }
  
    .card:nth-of-type(4) {
      grid-column: 1;
      grid-row: 4;
    }
  
    .card:nth-of-type(5) {
      grid-column: 1;
      grid-row: 5;
    }
}
