
body{
  background-image: 
  url(Matrix.gif);
  
}
img{
  width: 40;
  height: auto;
  float: left;
  padding: 10px 0;
}

.container{
  width: 90%;
  margin: 0 auto;
}

header{
  background-image: 
  url(Matrix.gif);
  
}

header::after{
content: '';
display: table;
clear: both;
}
nav{
  float: right;
border: 0px;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li{
  display: inline-block;
  margin-left: 80px;
  margin-left: 80px;
  padding-top: 20px;

  position: relative;
}

nav a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}


a:hover {
  color: white;
  background-color:  transparent;
  text-decoration: underline;
  text-shadow: 0 0 10px silver, 0 0 40px black, 0 0 30px blue, 0 0 40px red, 0 0 50px green, 0 0 60px #e60073, 0 0 70px #e60073;
}
to {
  text-shadow: 0 0 10px #fff, 0 0 40px black, 0 0 30px blue, 0 0 40px red, 0 0 50px green, 0 0 60px #e60073, 0 0 70px #e60073;
  position: relative;
  
}


a:active {
  color:#fff;
  background-color: transparent;
  text-decoration: underline;
         
}

.context{
  color: white;
  display: grid;
}


img {
  width: 10em;
      height: 10em;
      background-color: green;
      border-radius: 100%;
      animation: move 10.5s infinite ease-in;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 20%;
  }

  @keyframes move {
      0% {
          transform: translate(0, 0);
          width: 2em;
          height: 2em;
          box-shadow: 120px 80px 40px 20px silver
      }

      30% {
          transform: translate(15vw, 15vh);
          background: black;
          width: 2em;
          height: 1em;

      }

      
}

a.on,a:hover{
  background: white;
  transition: 4s;
}
.checkbtn{
  font-size: 20px;
  color: white;
}

          
        
        

