body{
    background-image: 
    url(Matrix.gif);
    
}
  img{
    width: 40;
    height: auto;
    float: left;
    padding: 10px 0;
  }
  
  .container{
    width: 90%;
    margin: 0 auto;
  }
  
  header{
    background-image: 
    url(Matrix.gif);
    
  }
  
  header::after{
  content: '';
  display: table;
  clear: both;
  }
  foo
  nav{
    float: right;
  border: 0px;
  }
  
  nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li{
    display: inline-block;
    margin-left: 80px;
    margin-left: 80px;
    padding-top: 20px;
  
    position: relative;
  }
  
  nav a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  
  
  
  a.on,a:hover{
    background: white;
    transition: 4s;
  }
  .checkbtn {
    font-size: 20px;
    color: white;
  }
  
  
  img {
      width: 10em;
      height: 10em;
      background-color: rgb(133, 126, 127);
      border-radius: 100%;
      animation: move 10.5s infinite ease-in;
  }
  
  @keyframes move {
      0% {
          transform: translate(0, 0);
          width: 15em;
          height: 2em;
          box-shadow: 10px 80px 40px 20px green
      }
  
      25% {
          transform: translate(15vw, 15vh);
          background-color: green;
          width: 12em;
          height: 10em;
  
      }
  
      30% {
          transform: translate(80vw, 10vh);
          background-color: black;
          width: 0em;
          height: 11em;
          box-shadow: 120px 80px 40px 20px green
    
      }
  
      50% {
          transform: translate(11vw, 60vh);
          background-color:silver;
          width: 0em;
          height: 20em;
          box-shadow: 120px 80px 40px 20px gray;
      }
  
      100% {
          transform: translate(80vh, 0);
          background-color: black;
          width: 9em;
          height: 0sem;
          box-shadow: 120px 80px 40px 20px silver;
      }
  
      100% {
          transform: translate(80vh, 0);
          background-color: black;
          width: 10em;
          height: 20em;
          box-shadow: 120px 80px 40px 20px silver;
      }
  
  
    
  }